In [1]:
import os
from os import chdir
import numpy as np
import pandas as pd
import csv

In [5]:
file_path = "citi_Consolid/"
file_path

'citi_Consolid/'

In [6]:
newdir = os.listdir(fileYear)
newdir

['2013_Output.csv',
 '2014_Output.csv',
 '2015_Output.csv',
 '2016_Output.csv',
 '2017_Output.csv',
 '2018_Output.csv',
 '2019_Output.csv',
 '2020_Output.csv',
 '2021_Output.csv']

In [4]:
target_file = '2017_Output.csv'

In [8]:
path_and_target = file_path + target_file
path_and_target

'citi_Consolid/2017_Output.csv'

In [10]:
books_df = pd.read_csv(path_and_target, encoding="utf-8")
books_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station latitude.1,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,start station longitude
0,148,2017-01-01 00:21:32,2017-01-01 00:24:01,3276,Marin Light Rail,40.714584,-74.042817,3185,City Hall,40.717733,-74.043845,24575,Subscriber,1983.0,1,NaN
1,1283,2017-01-01 00:24:35,2017-01-01 00:45:58,3183,Exchange Place,40.716247,-74.033459,3198,Heights Elevator,40.748716,-74.040443,24723,Subscriber,1978.0,1,NaN
2,372,2017-01-01 00:38:19,2017-01-01 00:44:31,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,24620,Subscriber,1989.0,1,NaN
3,1513,2017-01-01 00:38:37,2017-01-01 01:03:50,3194,McGinley Square,40.725340,-74.067622,3271,Danforth Light Rail,40.692640,-74.088012,24668,Subscriber,1961.0,1,NaN
4,639,2017-01-01 01:47:52,2017-01-01 01:58:31,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,26167,Subscriber,1993.0,1,NaN